@tailwind preflight;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url('./fonts/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    src: url('./fonts/ProximaNova-SemiBold.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url('./fonts/ProximaNova-Bold.ttf');
}

.push-t {
    top: 100%;
}
.push-r {
    right: 100%;
}
.push-b {
    bottom: 100%;
}
.push-l {
    left: 100%;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.transition {
    transition: all;
}

