@tailwind preflight;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url('./fonts/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    src: url('./fonts/ProximaNova-SemiBold.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url('./fonts/ProximaNova-Bold.ttf');
}

.push-t {
    top: 100%;
}
.push-r {
    right: 100%;
}
.push-b {
    bottom: 100%;
}
.push-l {
    left: 100%;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.transition {
    transition: all;
}

.transition-100 {
    transition-duration: 100ms;
}
.transition-150 {
    transition-duration: 150ms;
}
.transition-200 {
    transition-duration: 200ms;
}
.transition-250 {
    transition-duration: 250ms;
}
.transition-300 {
    transition-duration: 300ms;
}
.transition-350 {
    transition-duration: 350ms;
}

body {
    background-color: config('colors.pink');
}

.slide-out-sidebar {
    @apply absolute pin-r push-t border-t border-grey-lighter bg-grey-lightest w-3/4;
    height: calc(100vh - 4rem);
}


@screen md {
    .slide-out-sidebar {
        @apply w-2/5;
    }
}

.sidebar {
    @apply w-64;
    top: 4rem;
    height: calc(100vh - 4rem);
}

@screen xl {
    .sidebar {
        @apply w-80;
    }
}

.sidebar-link {
    @apply block text-grey-dark font-semibold no-underline leading-none mb-3;
}
