@tailwind preflight;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url('./fonts/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    src: url('./fonts/ProximaNova-SemiBold.ttf');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url('./fonts/ProximaNova-Bold.ttf');
}

.push-t {
    top: 100%;
}
.push-r {
    right: 100%;
}
.push-b {
    bottom: 100%;
}
.push-l {
    left: 100%;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.transition {
    transition: all;
}

.transition-100 {
    transition-duration: 100ms;
}
.transition-150 {
    transition-duration: 150ms;
}
.transition-200 {
    transition-duration: 200ms;
}
.transition-250 {
    transition-duration: 250ms;
}
.transition-300 {
    transition-duration: 300ms;
}
.transition-350 {
    transition-duration: 350ms;
}

body {
    background-color: config('colors.pink');
}

.slide-out-sidebar {
    @apply absolute pin-r push-t border-t border-grey-lighter bg-grey-lightest w-3/4;
    height: calc(100vh - 4rem);
}


@screen md {
    .slide-out-sidebar {
        @apply w-2/5;
    }
}

.sidebar-link {
    @apply block text-grey-dark font-semibold no-underline leading-none mb-3;
}

.sidebar-sublink {
    @apply block text-grey-dark no-underline leading-none mb-3;
}

.content {
    @apply relative mb-12;
}

@screen md {
    .content {
        @apply mb-24;
    }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    @apply font-bold text-black mb-4 mt-12;
}

.content h1 {
    @apply text-4xl;
}

.content h2 {
    @apply text-3xl;
}

.content h3 {
    @apply text-2xl;
}
.content h4 {
    @apply text-xl;
}
.content h5 {
    @apply text-base;
}

.content .header-anchor {
    @apply hidden;
}

@screen md {
    .content h1 {
        @apply text-5xl;
    }

    .content h2 {
        @apply text-4xl;
    }

    .content h3 {
        @apply text-3xl;
    }
    .content h4 {
        @apply text-2xl;
    }
    .content h5 {
        @apply text-xl;
    }
}

.content .subheadline {
    @apply text-xl text-grey-dark leading-normal mb-4;
}

.content p {
    @apply text-base text-grey-dark leading-normal mb-4;
}

.content a {
    @apply text-pink no-underline;
}

@screen md {
    .content .subheadline {
        @apply text-2xl;
    }

    .content p {
        @apply text-xl;
    }

    .content a:hover {
        @apply text-pink-dark underline;
    }
}

.content .icon.outbound {
    @apply hidden;
}

.content ol, .content ul {
    @apply pl-8 text-grey-dark text-base my-8;
}

.content li {
    @apply mb-4;
}

@screen md {
   .content ol, .content ul {
        @apply text-xl;
    }
}

.content code {
    @apply bg-grey-lightest p-1 text-pink text-base;
}

.content pre {
    @apply bg-grey-lightest p-2 leading-normal my-8;
}

.content pre code {
    @apply bg-transparent p-0 text-grey-darkest;
}

@screen md {
    .content code {
        @apply px-2;
    }
}


.content table {
    @apply my-8 overflow-x-auto;
}

.content thead {
    @apply bg-grey-lighter;
}

.content th {
    @apply text-left;
}

.content th, .content td {
    @apply p-1;
}

.content tbody tr:nth-child(2n) {
    @apply bg-grey-lightest;
}

@screen md {
    .content table {
        @apply w-full;
    }

    .content th, .content td {
        @apply p-2;
    }
}
